.notes__table{
  width: 100%;
  padding: 50px;
  margin: 0 auto;

  tr{
    display: table-row;
    background-color: lightgray;
    text-align: left;
    vertical-align: middle;
  }

  th{
    text-align: center;
    background-color: darkgray;
  }

  th, td{
    padding: 10px;
  }
}

