.notes__table{
  width: 100%;
  padding: 20px 50px 20px 50px;
  margin: 0 auto;

  tr{
    display: table-row;
    background-color: lightgray;
    text-align: left;
    vertical-align: middle;

    &.archived{
      filter: opacity(.4);
    }
  }

  th{
    text-align: center;
    background-color: maroon;
    color: white;

    & div svg path{
      fill: white;
    }
  }

  th, td{
    padding: 10px;

    &:last-child{
      justify-content: flex-end;
    }
  }
}

