*{
  box-sizing: border-box;
}

.App {
  text-align: center;
}

h4{
  padding: 50px;
}

.notes {
  &__create {
    margin-bottom: 50px;

    & button {
      cursor: pointer;
    }
  }

  &.blur{
    filter: blur(3px);
  }

  &__notification{
    color: maroon;
    font-weight: bold;
    visibility: hidden;

    &.visible{
      visibility: visible;
    }
  }

  &__archived{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    margin: 50px 50px 0 50px;
    text-align: right;
  }

  &__create{
    text-align: right;
    margin: 0 50px 0 0;
  }
}
